ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(189, 189, 189);
    
   
}

hr {
    display: block;
    margin-top: 0.01em;
    margin-bottom: 0.01em;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border-width: 0.1px;
    border-color: orangered;

    }


li a {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    
    
}

li a:hover {
    color: orangered;
}

li.hd {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
}


#image-text {
    position: absolute;
    top: 130px; ;
    left: 400px;
    font-size: 50px;
    color: #000;
    text-align: center;
   }

#small-image-text {
    position: absolute;
    top: 300px;
    left: 190px;
    font-size: 25px;
    text-align: center;
    
    
}

#showcase {
    width: 100%;
    margin: none;
    padding: none;
    background-size:cover
    
    

}

img {
    opacity: 0.65;
    padding: 0% 
    
    
  }
  

  form {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(189, 189, 189);
    margin-top: 0px;
    margin-bottom: 0px;
    
    
  }

.epage {
    background-color: #000;
}

input[type=submit] {
    background-color: orangered;
    outline-color: orangered;
    color: rgb(0, 0, 0);
}

input[placeholder="Enter e-mail"] {
    color: orangered
}

#newsletter {
    
    position:relative;
    bottom: 480px;

}


div {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    display:block;
    
}

.li1 {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    padding: 14px 220px;
    text-decoration: none;
    float: right;
   
}

.boxed {
        height: 0px;
        width:1222px;
        border: 140px solid rgb(20, 20, 20);
        padding: 0.2px;
        margin: 0px;
        position: absolute;
        bottom: -232px;
        right: 8.5px;
        ;
      }















/*
.container {
    position: relative;
    margin-inline-start: 100px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
}

