ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(189, 189, 189);
   
}

hr {
    display: block;
    margin-top: 0.01em;
    margin-bottom: 0.01em;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border-width: 0.1px;
    border-color: orangered;

    }

li {
    float: right;
}

li a {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: orangered;
}

li.hd {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
}


#image-text {
    position: absolute;
    top: 230px; ;
    left: 400px;
    font-size: 50px;
    color: #000;
    text-align: center;
   }

#small-image-text {
    position: absolute;
    top: 400px;
    left: 190px;
    font-size: 25px;
    text-align: center;
    
    
}

#showcase {
    width: 100%;
    margin: none;
    padding: none;
    

}

img {
    opacity: 0.65;
  }
  

  form {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(189, 189, 189);
    margin-top: 0px;
    margin-bottom: 0px;
    
  }

.epage {
    background-color: #000;
}

input[type=submit] {
    background-color: orangered;
    color: rgb(0, 0, 0);
}

input[placeholder="Enter e-mail"] {
    color: orangered
}